.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 8px;
}
.shopping-cart {
  background: rgb(255, 224, 179);
  position: sticky;
  top: 0;
}
.cart-container {
  position: sticky;
  top: 0;
}

.pagination {
  margin-left: 200px;
  margin-top: 50px;
}
.pagination button {
  margin-right: 15px;
  padding: 5px 10px;
}
.pagination .selected {
  background: goldenrod;
  border: gold;
  font-weight: 700;
}
@media screen and (max-width: 1100px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
