.header {
  background: #1c2b35;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 140px;
}
.header a {
  text-decoration: none;
  color: #fff;
  margin-right: 40px;
  transition: all 0.1s;
}
.header a:hover {
  background: #c9fad5;
  color: #25316d;
  font-size: 18px;
  font-weight: 500;
}
